
<h1> Your day in history</h1>


<div class="wrapper">
  <div class="cards_wrap">
     <div class="card_item">
      <div class="card_inner">
       
        <div class="card_bottom">
          
          <div class="card_info">
            <p class="title">yfyvhyvvyv</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
         
        </div>
      </div>
    </div>

    
     <div class="card_item">
      <div class="card_inner">
       
        <div class="card_bottom">
          
          <div class="card_info">
            <p class="title">10 Best Things about Travel</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
         
        </div>
      </div>
    </div>


    <div class="card_item">
      <div class="card_inner">
       
        <div class="card_bottom">
          
          <div class="card_info">
            <p class="title">10 Best Things about Travel</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
         
        </div>
      </div>
    </div>


    <div class="card_item">
      <div class="card_inner">
       
        <div class="card_bottom">
          
          <div class="card_info">
            <p class="title">10 Best Things about Travel</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
         
        </div>
      </div>
    </div>



    <div class="card_item">
      <div class="card_inner">
       
        <div class="card_bottom">
          
          <div class="card_info">
            <p class="title">10 Best Things about Travel</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
         
        </div>
      </div>
    </div>



     <div class="card_item">
      <div class="card_inner">
       
        <div class="card_bottom">
          
          <div class="card_info">
            <p class="title">10 Best Things about Travel</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
         
        </div>
      </div>
    </div>



     <div class="card_item">
      <div class="card_inner">
       
        <div class="card_bottom">
          
          <div class="card_info">
            <p class="title">10 Best Things about Travel</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
         
        </div>
      </div>
    </div>




    <div class="card_item">
      <div class="card_inner">
       
        <div class="card_bottom">
          
          <div class="card_info">
            <p class="title">10 Best Things about Travel</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
         
        </div>
      </div>
    </div>



    <div class="card_item">
      <div class="card_inner">
       
        <div class="card_bottom">
          
          <div class="card_info">
            <p class="title">10 Best Things about Travel</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
         
        </div>
      </div>
    </div>

    
    </div>
</div>


<div>
    

        {{historyData}}
    

</div>


