<h1> Events in history that happened {{day}}/{{month}}</h1>

<div class="wrapper">
  <form action="/">
    <label for="birthday">Select Date:</label>
    <input type="date" id="date" name="date" date-format="DD MMMM YYYY" />
    <button type="submit">Submit</button>
  </form>
  <div class="cards_wrap">
    {{#each data}}
      <div class="card_item">
        <div class="card_inner">

          <div class="card_bottom">

            <div class="card_info">
              <p style="text-align: right">Year - {{this.year}}</p>
              <p class="title">{{this.text}}</p>

            </div>

          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>